<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

    :root {
      --color: #3c3163;
      --transition-time: 0.5s;
    }

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      min-height: 100vh;
      font-family: 'Open Sans';
      background: #fafafa;
    }

    a {
      color: inherit;
    }

    .cards-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4rem;
      padding: 4rem;
      margin: 0 auto;
      width: max-content;
    }

    .card {
      font-family: 'Heebo';
      --bg-filter-opacity: 0.5;
      background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
      height: 20em;
      width: 15em;
      color: white;
      border-radius: 1em;
      padding: 1em;
      /*margin: 2em;*/
      display: flex;
      align-items: flex-end;
      background-size: cover;
      background-position: center;
      box-shadow: 0 0 5em -1em black;
      transition: all, var(--transition-time);
      position: relative;
      overflow: hidden;
      border: 10px solid #ccc;
      text-decoration: none;
    }

    .card:hover {
      transform: rotate(0);
    }

    .card:before,
    .card:after {
      content: '';
      transform: scale(0);
      transform-origin: top left;
      border-radius: 50%;
      position: absolute;
      left: -50%;
      top: -50%;
      z-index: -5;
      transition: all, var(--transition-time);
      transition-timing-function: ease-in-out;
    }

    .card:before {
      background: #ddd;
      width: 250%;
      height: 250%;
    }

    .card:after {
      background: white;
      width: 200%;
      height: 200%;
    }

    .card:hover {
      color: var(--color);
    }

    .card:hover:before,
    .card:hover:after {
      transform: scale(1);
    }

    /* MEDIA QUERIES */
    @media screen and (max-width: 1285px) {
      .cards-wrapper {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media screen and (max-width: 900px) {
      .cards-wrapper {
        grid-template-columns: 1fr;
      }

      .info {
        justify-content: center;
      }
    }

    @media screen and (max-width: 500px) {
      .cards-wrapper {
        padding: 4rem 2rem;
      }

      .card {
        max-width: calc(100vw - 4rem);
      }
    }

    @media screen and (max-width: 450px) {
      .info {
        display: block;
        text-align: center;
      }

      .info h1 {
        margin: 0;
      }
    }
  </style>
</head>

<body>
  {{#if status}}
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <h1 style="text-align:center">Confirm email</h1>
      <a class="card" href="#"
        style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        <div>
          <p style="color:greenyellow">Congratulation!</p>
          <p>You have verified your email</p>
          <p>Thank you: {{email}}</p>
        </div>
      </a>
    </div>
  </section>
  {{else}}
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <h1 style="text-align:center">Confirm email</h1>
      <a class="card" href="#"
        style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        <div>
          <p style="color:tomato">Something went wrong!</p>
          <p>{{message}}</p>
        </div>
      </a>
    </div>
  </section>
  {{/if}}
</body>

</html>